:root {
  --main-bg-color: pink;
  --white: #ffffff;
  --text-color: #29292e;
  --text-color-2: #737380;
  --bg-color: #f8f8f8;
  --primary-color: #835afd;
  --secundary-color: var(--secundary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
